<div class="container">
  <div class="pokedex-list">
    <div class="list">
      <div 
        class="list-item" 
        *ngFor="let pokemon of pokemonDetails; let i = index"
        [class.selected]="i === selectedIndex"  
        #listItem
        (mouseover)="hoveringPokemon(pokemon, i)"
        (mouseleave)="stopHoveringPokemon()"
      >
        <div class="pokemon-info">
          <img [src]="pokemon.sprites.versions['generation-v']['black-white'].animated['front_default']" alt="">
        </div>
        <span>{{pokemon.id}}. {{capitalizeService.capitalize(pokemon.name)}}</span>
        <hr>
      </div>
    </div>
    <div class="pokemon-preview-info">
      <ng-container *ngIf="!pokemonPreview; else showPokemonPreview">
        <div class="preview-null-pokemon">
          <img src="../../../../../assets/gui-assets/pokeball-background2.png" alt="">
        </div>
      </ng-container>
      
    </div>
  </div>
</div>

<ng-template #showPokemonPreview>
  <div class="preview-pokemon">
    <div class="pokemon-preview-sprite">
      <img [src]="pokemonPreview.sprites.other['dream_world']['front_default']" alt="">
    </div>
    <div class="pokemon-preview-types">
      <div class="types" *ngFor="let type of pokemonPreview.types" [style.background-color]="getTypeColor(type.type.name)">
        {{capitalizeService.capitalize(type.type.name)}}
      </div>
    </div>
  </div>
</ng-template>
