<div class="detail-header">
  <div class="pkm-info-container">
    <div id="pkm-img-container">
      <img [src]="pokemonDetail.sprites.versions['generation-v']['black-white'].animated['front_default']" alt="">  <!--Prueba-->
    </div>
    <div class="pkm-header-detail">
      <div class="nombre-index">
        <span>Pkm: #{{pokemonDetail.id}}</span>
      </div>
      <div class="nombre-index">
        <span>{{capitalizeService.capitalize(pokemonDetail.name)}}</span>
      </div>
      <div class="altura">
        <span>Altura: {{divideHeightInTen(pokemonDetail.height)}} mts</span>
      </div>
    </div>
  </div>
  <div class="types-container">
    <div class="detail-types" *ngFor="let type of pokemonDetail.types" [style.background-color]="getTypeColor(type.type.name)">
      {{capitalizeService.capitalize(type.type.name)}}
    </div>
  </div>
</div>
<div class="tab-container">
  <div id="tab">
    <header id="tab-header">
      <div id="pkm-description" class="header-tab" (click)="changeTab('1')" [class.selected]="currentTab == '1'">
        <span>Información</span>
      </div>
      <div id="pkm-stats" class="header-tab" (click)="changeTab('2')" [class.selected]="currentTab == '2'">
        <span>Estadísticas</span>
      </div>
    </header>
    <div id="content-container">
      <ng-container *ngIf="currentTab == '1'">
        <div id="description">
          <p>{{pkmDescription}}</p>
          <span id="disclaimer">Estas descripciones son
            creadas con IA y pueden no ser acertadas.</span>
        </div>
      </ng-container>
      <ng-container *ngIf="currentTab == '2'">
        <div id="chart-container">
          <app-radar-chart [pokemonDetail]="pokemonDetail"></app-radar-chart>
        </div>
      </ng-container>
    </div>
  </div>
</div>



